APP_ENV=local
APP_DEBUG=true
APP_KEY=4N49NxgrULTbBdG0OTZ6K60bxr1RIl

APP_LOCALE=zh-CN
APP_FALLBACK_LOCALE=en

DB_CONNECTION=mysql
DB_HOST=192.168.177.138
DB_PORT=3306
DB_DATABASE=lumen
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=memcached
SESSION_DRIVER=memcached
QUEUE_DRIVER=database

# Dingo/API Configuration
API_NAME=My API
API_DEBUG=true
# standard tree:x, prs, vnd
API_STANDARDS_TREE=vnd
# subtype is typically a short name of
# your application or project,
# all lowercase
API_SUBTYPE=myapp
API_PREFIX=api
#API_DOMAIN=api.example.com
API_VERSION=v1
# Conditional Requests
# API_CONDITIONAL_REQUEST=false
# Strict Mode
API_STRICT=false
API_DEFAULT_FORMAT=json

# JWT Author
JWT_SECRET=vTFtdsIMbUi3yWTfOjM4BwdShIDCuUUO
JWT_BLACKLIST_ENABLED=true

# MAIL_DRIVER=smtp
# MAIL_HOST=mailtrap.io
# MAIL_PORT=2525
# MAIL_USERNAME=null
# MAIL_PASSWORD=null
# MAIL_FROM_ADDRESS=null
# MAIL_FROM_NAME=null

# FILESYSTEM_DRIVER=local
# FILESYSTEM_CLOUD=s3

# S3_KEY=null
# S3_SECRET=null
# S3_REGION=null
# S3_BUCKET=null

# RACKSPACE_USERNAME=null
# RACKSPACE_KEY=null
# RACKSPACE_CONTAINER=null
# RACKSPACE_REGION=null
